<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 66.5 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=5ec2dc15964cedd2522c5863feb43cfa7110f4d217807f9e53297f867a8a1c31
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [9]:
%sql SELECT DISTINCT Landing_Outcome FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [10]:
%sql SELECT DISTINCT Mission_Outcome FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

In [11]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [13]:
%sql SELECT * FROM SPACEXTBL LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS total_payload_mass FROM SPACEXTBL WHERE Customer like "NASA (CRS)";

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS average_payload_mass FROM SPACEXTBL WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
%%sql SELECT MIN("Date") AS first_successful_landing_date --
FROM SPACEXTBL WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [22]:
%%sql SELECT "Booster_Version" --
FROM SPACEXTBL WHERE "Landing_Outcome" = 'Success (drone ship)' --
AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [25]:
%%sql SELECT "Mission_Outcome", COUNT(*) AS "Total_Count" --
FROM SPACEXTBL WHERE "Mission_Outcome" --
IN (SELECT DISTINCT Mission_Outcome FROM SPACEXTBL) GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [26]:
%%sql SELECT COUNT(Mission_Outcome) --
FROM SPACEXTBL --
WHERE Mission_Outcome = 'Success' --
OR Mission_Outcome = 'Failure (in flight)'

 * sqlite:///my_data1.db
Done.

[(99,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [19]:
%%sql SELECT Booster_Version FROM SPACEXTBL --
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX("PAYLOAD_MASS__KG_")  FROM SPACEXTBL) ;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [30]:
%%sql SELECT  CASE WHEN substr(Date, 6, 2)='01'THEN'January' --
                WHEN substr(Date, 6, 2) = '02' THEN 'February' --
                WHEN substr(Date, 6, 2) = '03' THEN 'March' --
                WHEN substr(Date, 6, 2) = '04' THEN 'April' --
                WHEN substr(Date, 6, 2) = '05' THEN 'May' --
                WHEN substr(Date, 6, 2) = '06' THEN 'June' --
                WHEN substr(Date, 6, 2) = '07' THEN 'July' --
                WHEN substr(Date, 6, 2) = '08' THEN 'August' --
                WHEN substr(Date, 6, 2) = '09' THEN 'September' --
                WHEN substr(Date, 6, 2) = '10' THEN 'October' --
                WHEN substr(Date, 6, 2) = '11' THEN 'November' --
                WHEN substr(Date, 6, 2) = '12' THEN 'December' --
         END AS "Month",Landing_Outcome, Booster_Version, Launch_Site --
FROM SPACEXTBL WHERE substr(Date, 1, 4) = '2015' AND Landing_Outcome = 'Failure (drone ship)' OR Landing_Outcome LIKE 'Success%';

 * sqlite:///my_data1.db
Done.

[('October', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('December', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40'),
 ('August', 'Success (drone ship)', 'F9 FT B1021.1', 'CCAFS LC-40'),
 ('June', 'Success (drone ship)', 'F9 FT B1022', 'CCAFS LC-40'),
 ('May', 'Success (drone ship)', 'F9 FT B1023.1', 'CCAFS LC-40'),
 ('July', 'Success (ground pad)', 'F9 FT B1025.1', 'CCAFS LC-40'),
 ('August', 'Success (drone ship)', 'F9 FT B1026', 'CCAFS LC-40'),
 ('January', 'Success (drone ship)', 'F9 FT B1029.1', 'VAFB SLC-4E'),
 ('February', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('March', 'Success (drone ship)', 'F9 FT  B1021.2', 'KSC LC-39A'),
 ('January', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('March', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('June', 'Success (drone ship)', 'F9 FT  B1029.2', 'KSC LC-39A'),
 ('June', 'Success (drone ship)', 'F9 FT B1036.1', 'VAFB SLC-4E'),
 ('August', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('August', 'Success (drone ship)', 'F9 FT B1038.1', 'VAFB SLC-4E'),
 ('July', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('September', 'Success (drone ship)', 'F9 B4 B1041.1', 'VAFB SLC-4E'),
 ('November', 'Success (drone ship)', 'F9 FT  B1031.2', 'KSC LC-39A'),
 ('October', 'Success (drone ship)', 'F9 B4 B1042.1', 'KSC LC-39A'),
 ('December', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40'),
 ('August', 'Success (ground pad)', 'F9 B4 B1043.1', 'CCAFS SLC-40'),
 ('April', 'Success (drone ship)', 'F9 B4 B1045.1', 'CCAFS SLC-40'),
 ('November', 'Success (drone ship)', 'F9 B5  B1046.1', 'KSC LC-39A'),
 ('July', 'Success', 'F9 B5B1047.1', 'CCAFS SLC-40'),
 ('July', 'Success', 'F9 B5B1048.1', 'VAFB SLC-4E'),
 ('July', 'Success', 'F9 B5 B1046.2', 'CCAFS SLC-40'),
 ('October', 'Success', 'F9 B5B1049.1', 'CCAFS SLC-40'),
 ('August', 'Success', 'F9 B5 B1048.2', 'VAFB SLC-4E'),
 ('November', 'Success', 'F9 B5 B1047.2', 'KSC LC-39A'),
 ('March', 'Success', 'F9 B5 B1046.3', 'VAFB SLC-4E'),
 ('November', 'Success', 'F9 B5 B1049.2', 'VAFB SLC-4E'),
 ('February', 'Success', 'F9 B5 B1048.3', 'CCAFS SLC-40'),
 ('February', 'Success', 'F9 B5B1051.1', 'KSC LC-39A'),
 ('April', 'Success', 'F9 B5B1056.1 ', 'CCAFS SLC-40'),
 ('May', 'Success', 'F9 B5 B1049.3', 'CCAFS SLC-40'),
 ('December', 'Success', 'F9 B5 B1051.2 ', 'VAFB SLC-4E'),
 ('July', 'Success', 'F9 B5 B1056.2 ', 'CCAFS SLC-40'),
 ('November', 'Success', 'F9 B5 B1048.4', 'CCAFS SLC-40'),
 ('May', 'Success', 'F9 B5B1059.1', 'CCAFS SLC-40'),
 ('December', 'Success', 'F9 B5 B1056.3 ', 'CCAFS SLC-40'),
 ('July', 'Success', 'F9 B5 B1049.4', 'CCAFS SLC-40'),
 ('January', 'Success', 'F9 B5 B1051.3', 'CCAFS SLC-40'),
 ('July', 'Success', 'F9 B5 B1059.2', 'CCAFS SLC-40'),
 ('April', 'Success', 'F9 B5 B1051.4', 'KSC LC-39A'),
 ('May', 'Success', 'F9 B5B1058.1 ', 'KSC LC-39A'),
 ('April', 'Success', 'F9 B5 B1049.5', 'CCAFS SLC-40'),
 ('June', 'Success', 'F9 B5 B1059.3', 'CCAFS SLC-40'),
 ('June', 'Success', 'F9 B5B1060.1', 'CCAFS SLC-40'),
 ('July', 'Success', 'F9 B5 B1058.2 ', 'CCAFS SLC-40'),
 ('July', 'Success', 'F9 B5 B1051.5', 'KSC LC-39A'),
 ('August', 'Success', 'F9 B5 B1049.6', 'CCAFS SLC-40'),
 ('August', 'Success', 'F9 B5 B1059.4', 'CCAFS SLC-40'),
 ('March', 'Success', 'F9 B5 B1060.2 ', 'KSC LC-39A'),
 ('June', 'Success', 'F9 B5 B1058.3 ', 'KSC LC-39A'),
 ('October', 'Success', 'F9 B5 B1051.6', 'KSC LC-39A'),
 ('October', 'Success', 'F9 B5 B1060.3', 'CCAFS SLC-40'),
 ('May', 'Success', 'F9 B5B1062.1', 'CCAFS SLC-40'),
 ('November', 'Success', 'F9 B5B1061.1 ', 'KSC LC-39A'),
 ('November', 'Success', 'F9 B5B1063.1', 'VAFB SLC-4E'),
 ('November', 'Success', 'F9 B5 B1049.7 ', 'CCAFS SLC-40'),
 ('June', 'Success', 'F9 B5 B1058.4 ', 'KSC LC-39A')]

In [ ]:
%%sql SELECT * FROM SPACEXTBL --
WHERE Landing_Outcome LIKE 'Success%' --
AND (Date BETWEEN '2015-01-01' AND '2015-12-31') --
ORDER BY Date DESC

 * sqlite:///my_data1.db
Done.

[('October', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [31]:
%%sql SELECT * -- 
FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' --
GROUP BY "Landing_Outcome"--
ORDER BY Date DESC;

 * sqlite:///my_data1.db
Done.

[('2016-08-04', '20:43:00', 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 ('2015-12-22', '01:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)'),
 ('2015-10-01', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>